[Desktop Entry]
Name=PacStats
Comment=Statistical charts about pacman activity
Icon=pacstats.png
Exec=pacstats %F
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GTK;Application;Utility;
